In [1]:

%matplotlib inline
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
import io
import requests
from io import StringIO
url="https://seanw2020.s3.amazonaws.com/CopyofweatherAUS.csv"
#s=requests.get(url).content
#c=pd.read_csv(io.StringIO(s.decode('utf-8')))

headers = {"User-Agent": "Mozilla/5.0 (Macintosh; Intel Mac OS X 10.14; rv:66.0) Gecko/20100101 Firefox/66.0"}
req = requests.get(url, headers=headers)
data = StringIO(req.text)

df = pd.read_csv(data)
##print(df)

In [3]:
df.dropna(how='any', inplace=True)

#df.drop(['B', 'C'], axis=1)


df['RainTomorrow'] = df['RainTomorrow'].replace(to_replace=['No', 'Yes'], value=[0, 1])
df['RainToday'] = df['RainToday'].replace(to_replace=['No', 'Yes'], value=[0, 1])

df.head(100)

,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,...,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RISK_MM,RainTomorrow
5939,1/1/2009,Cobar,17.9,35.2,0.0,12.0,12.3,SSW,48.0,ENE,...,13.0,1006.3,1004.4,2.0,5.0,26.6,33.4,0,0.0,0
5940,1/2/2009,Cobar,18.4,28.9,0.0,14.8,13.0,S,37.0,SSE,...,8.0,1012.9,1012.1,1.0,1.0,20.3,27.0,0,0.0,0
5942,1/4/2009,Cobar,19.4,37.6,0.0,10.8,10.6,NNE,46.0,NNE,...,22.0,1012.3,1009.2,1.0,6.0,28.7,34.9,0,0.0,0
5943,1/5/2009,Cobar,21.9,38.4,0.0,11.4,12.2,WNW,31.0,WNW,...,22.0,1012.7,1009.1,1.0,5.0,29.1,35.6,0,0.0,0
5944,1/6/2009,Cobar,24.2,41.0,0.0,11.2,8.4,WNW,35.0,NW,...,15.0,1010.7,1007.4,1.0,6.0,33.6,37.6,0,0.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6037,4/9/2009,Cobar,17.1,28.7,0.0,6.6,5.5,WNW,43.0,ENE,...,32.0,1021.2,1016.9,7.0,7.0,20.1,26.7,0,14.4,1
6038,4/10/2009,Cobar,16.5,20.6,14.4,6.0,0.0,E,30.0,NE,...,76.0,1021.3,1019.3,7.0,7.0,16.9,19.9,1,2.4,1
6039,4/11/2009,Cobar,16.0,24.4,2.4,0.2,4.7,ENE,31.0,NNW,...,63.0,1023.1,1020.2,7.0,5.0,17.6,24.0,1,5.4,1
6040,4/12/2009,Cobar,16.8,23.9,5.4,2.4,4.2,NNE,20.0,ENE,...,68.0,1022.9,1020.2,7.0,5.0,18.5,22.9,1,0.0,0
6041,4/13/2009,Cobar,16.2,23.9,0.0,1.8,4.4,ENE,24.0,ESE,...,71.0,1020.6,1016.4,7.0,7.0,18.9,22.1,0,0.4,0

In [4]:
df['Longitude'] = ""
df['Latitude'] = ""
df.head()

,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,...,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RISK_MM,RainTomorrow,Longitude,Latitude
5939,1/1/2009,Cobar,17.9,35.2,0.0,12.0,12.3,SSW,48.0,ENE,...,1004.4,2.0,5.0,26.6,33.4,0,0.0,0,,
5940,1/2/2009,Cobar,18.4,28.9,0.0,14.8,13.0,S,37.0,SSE,...,1012.1,1.0,1.0,20.3,27.0,0,0.0,0,,
5942,1/4/2009,Cobar,19.4,37.6,0.0,10.8,10.6,NNE,46.0,NNE,...,1009.2,1.0,6.0,28.7,34.9,0,0.0,0,,
5943,1/5/2009,Cobar,21.9,38.4,0.0,11.4,12.2,WNW,31.0,WNW,...,1009.1,1.0,5.0,29.1,35.6,0,0.0,0,,
5944,1/6/2009,Cobar,24.2,41.0,0.0,11.2,8.4,WNW,35.0,NW,...,1007.4,1.0,6.0,33.6,37.6,0,0.0,0,,

In [5]:
from opencage.geocoder import OpenCageGeocode
key = 'e46f1f204fe74ac3b95c31b98a5f377e'  # get api key from:  https://opencagedata.com


	
geocoder = OpenCageGeocode(key)

In [6]:

cities = df['Location'].unique()

cities

array(['Cobar', 'CoffsHarbour', 'Moree', 'NorfolkIsland', 'Sydney',
       'SydneyAirport', 'WaggaWagga', 'Williamtown', 'Canberra', 'Sale',
       'MelbourneAirport', 'Melbourne', 'Mildura', 'Portland', 'Watsonia',
       'Brisbane', 'Cairns', 'Townsville', 'MountGambier', 'Nuriootpa',
       'Woomera', 'PerthAirport', 'Perth', 'Hobart', 'AliceSprings',
       'Darwin'], dtype=object)

In [8]:
for city in cities:
    
    try:
    
        query = str(city) + ', Australia'

        result = geocoder.geocode(query) 


        lat = result[0]['geometry']['lat']
        long = result[0]['geometry']['lng']
        
        for index, row in df.iterrows(): # iterate over rows in dataframe
            City=row['Location']
        
            if City == city:
               # print(city)
                df.loc[index, 'Latitude'] = lat
                df.loc[index, 'Longitude'] = long
                #print(lat)
               # print(long)
    
    except (KeyError, IndexError):
        print("Missing field/result... skipping.")

In [9]:
df.head()

,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,...,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RISK_MM,RainTomorrow,Longitude,Latitude
5939,1/1/2009,Cobar,17.9,35.2,0.0,12.0,12.3,SSW,48.0,ENE,...,1004.4,2.0,5.0,26.6,33.4,0,0.0,0,145.834,-31.4983
5940,1/2/2009,Cobar,18.4,28.9,0.0,14.8,13.0,S,37.0,SSE,...,1012.1,1.0,1.0,20.3,27.0,0,0.0,0,145.834,-31.4983
5942,1/4/2009,Cobar,19.4,37.6,0.0,10.8,10.6,NNE,46.0,NNE,...,1009.2,1.0,6.0,28.7,34.9,0,0.0,0,145.834,-31.4983
5943,1/5/2009,Cobar,21.9,38.4,0.0,11.4,12.2,WNW,31.0,WNW,...,1009.1,1.0,5.0,29.1,35.6,0,0.0,0,145.834,-31.4983
5944,1/6/2009,Cobar,24.2,41.0,0.0,11.2,8.4,WNW,35.0,NW,...,1007.4,1.0,6.0,33.6,37.6,0,0.0,0,145.834,-31.4983

In [10]:
new_df=df
new_df

,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,...,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RISK_MM,RainTomorrow,Longitude,Latitude
5939,1/1/2009,Cobar,17.9,35.2,0.0,12.0,12.3,SSW,48.0,ENE,...,1004.4,2.0,5.0,26.6,33.4,0,0.0,0,145.834,-31.4983
5940,1/2/2009,Cobar,18.4,28.9,0.0,14.8,13.0,S,37.0,SSE,...,1012.1,1.0,1.0,20.3,27.0,0,0.0,0,145.834,-31.4983
5942,1/4/2009,Cobar,19.4,37.6,0.0,10.8,10.6,NNE,46.0,NNE,...,1009.2,1.0,6.0,28.7,34.9,0,0.0,0,145.834,-31.4983
5943,1/5/2009,Cobar,21.9,38.4,0.0,11.4,12.2,WNW,31.0,WNW,...,1009.1,1.0,5.0,29.1,35.6,0,0.0,0,145.834,-31.4983
5944,1/6/2009,Cobar,24.2,41.0,0.0,11.2,8.4,WNW,35.0,NW,...,1007.4,1.0,6.0,33.6,37.6,0,0.0,0,145.834,-31.4983
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
139108,6/20/2017,Darwin,19.3,33.4,0.0,6.0,11.0,ENE,35.0,SE,...,1010.5,0.0,1.0,24.5,32.3,0,0.0,0,130.841,-12.4604
139109,6/21/2017,Darwin,21.2,32.6,0.0,7.6,8.6,E,37.0,SE,...,1011.2,7.0,0.0,24.8,32.0,0,0.0,0,130.841,-12.4604
139110,6/22/2017,Darwin,20.7,32.8,0.0,5.6,11.0,E,33.0,E,...,1011.8,0.0,0.0,24.8,32.1,0,0.0,0,130.841,-12.4604
139111,6/23/2017,Darwin,19.5,31.8,0.0,6.2,10.6,ESE,26.0,SE,...,1010.7,1.0,1.0,24.8,29.2,0,0.0,0,130.841,-12.4604
139112,6/24/2017,Darwin,20.2,31.7,0.0,5.6,10.7,ENE,30.0,ENE,...,1009.7,6.0,5.0,25.4,31.0,0,0.0,0,130.841,-12.4604

In [11]:
copy_df=df
copy_df

,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,...,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RISK_MM,RainTomorrow,Longitude,Latitude
5939,1/1/2009,Cobar,17.9,35.2,0.0,12.0,12.3,SSW,48.0,ENE,...,1004.4,2.0,5.0,26.6,33.4,0,0.0,0,145.834,-31.4983
5940,1/2/2009,Cobar,18.4,28.9,0.0,14.8,13.0,S,37.0,SSE,...,1012.1,1.0,1.0,20.3,27.0,0,0.0,0,145.834,-31.4983
5942,1/4/2009,Cobar,19.4,37.6,0.0,10.8,10.6,NNE,46.0,NNE,...,1009.2,1.0,6.0,28.7,34.9,0,0.0,0,145.834,-31.4983
5943,1/5/2009,Cobar,21.9,38.4,0.0,11.4,12.2,WNW,31.0,WNW,...,1009.1,1.0,5.0,29.1,35.6,0,0.0,0,145.834,-31.4983
5944,1/6/2009,Cobar,24.2,41.0,0.0,11.2,8.4,WNW,35.0,NW,...,1007.4,1.0,6.0,33.6,37.6,0,0.0,0,145.834,-31.4983
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
139108,6/20/2017,Darwin,19.3,33.4,0.0,6.0,11.0,ENE,35.0,SE,...,1010.5,0.0,1.0,24.5,32.3,0,0.0,0,130.841,-12.4604
139109,6/21/2017,Darwin,21.2,32.6,0.0,7.6,8.6,E,37.0,SE,...,1011.2,7.0,0.0,24.8,32.0,0,0.0,0,130.841,-12.4604
139110,6/22/2017,Darwin,20.7,32.8,0.0,5.6,11.0,E,33.0,E,...,1011.8,0.0,0.0,24.8,32.1,0,0.0,0,130.841,-12.4604
139111,6/23/2017,Darwin,19.5,31.8,0.0,6.2,10.6,ESE,26.0,SE,...,1010.7,1.0,1.0,24.8,29.2,0,0.0,0,130.841,-12.4604
139112,6/24/2017,Darwin,20.2,31.7,0.0,5.6,10.7,ENE,30.0,ENE,...,1009.7,6.0,5.0,25.4,31.0,0,0.0,0,130.841,-12.4604

In [12]:
working_df=df
working_df

,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,...,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RISK_MM,RainTomorrow,Longitude,Latitude
5939,1/1/2009,Cobar,17.9,35.2,0.0,12.0,12.3,SSW,48.0,ENE,...,1004.4,2.0,5.0,26.6,33.4,0,0.0,0,145.834,-31.4983
5940,1/2/2009,Cobar,18.4,28.9,0.0,14.8,13.0,S,37.0,SSE,...,1012.1,1.0,1.0,20.3,27.0,0,0.0,0,145.834,-31.4983
5942,1/4/2009,Cobar,19.4,37.6,0.0,10.8,10.6,NNE,46.0,NNE,...,1009.2,1.0,6.0,28.7,34.9,0,0.0,0,145.834,-31.4983
5943,1/5/2009,Cobar,21.9,38.4,0.0,11.4,12.2,WNW,31.0,WNW,...,1009.1,1.0,5.0,29.1,35.6,0,0.0,0,145.834,-31.4983
5944,1/6/2009,Cobar,24.2,41.0,0.0,11.2,8.4,WNW,35.0,NW,...,1007.4,1.0,6.0,33.6,37.6,0,0.0,0,145.834,-31.4983
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
139108,6/20/2017,Darwin,19.3,33.4,0.0,6.0,11.0,ENE,35.0,SE,...,1010.5,0.0,1.0,24.5,32.3,0,0.0,0,130.841,-12.4604
139109,6/21/2017,Darwin,21.2,32.6,0.0,7.6,8.6,E,37.0,SE,...,1011.2,7.0,0.0,24.8,32.0,0,0.0,0,130.841,-12.4604
139110,6/22/2017,Darwin,20.7,32.8,0.0,5.6,11.0,E,33.0,E,...,1011.8,0.0,0.0,24.8,32.1,0,0.0,0,130.841,-12.4604
139111,6/23/2017,Darwin,19.5,31.8,0.0,6.2,10.6,ESE,26.0,SE,...,1010.7,1.0,1.0,24.8,29.2,0,0.0,0,130.841,-12.4604
139112,6/24/2017,Darwin,20.2,31.7,0.0,5.6,10.7,ENE,30.0,ENE,...,1009.7,6.0,5.0,25.4,31.0,0,0.0,0,130.841,-12.4604

In [13]:

working_df['Month'] = pd.DatetimeIndex(df['Date']).month
working_df['Year'] = pd.DatetimeIndex(df['Date']).year
working_df['Day'] = pd.DatetimeIndex(df['Date']).day
# working_df = df.drop(['Date'], axis=1)

working_df.head()

,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,...,Temp9am,Temp3pm,RainToday,RISK_MM,RainTomorrow,Longitude,Latitude,Month,Year,Day
5939,1/1/2009,Cobar,17.9,35.2,0.0,12.0,12.3,SSW,48.0,ENE,...,26.6,33.4,0,0.0,0,145.834,-31.4983,1,2009,1
5940,1/2/2009,Cobar,18.4,28.9,0.0,14.8,13.0,S,37.0,SSE,...,20.3,27.0,0,0.0,0,145.834,-31.4983,1,2009,2
5942,1/4/2009,Cobar,19.4,37.6,0.0,10.8,10.6,NNE,46.0,NNE,...,28.7,34.9,0,0.0,0,145.834,-31.4983,1,2009,4
5943,1/5/2009,Cobar,21.9,38.4,0.0,11.4,12.2,WNW,31.0,WNW,...,29.1,35.6,0,0.0,0,145.834,-31.4983,1,2009,5
5944,1/6/2009,Cobar,24.2,41.0,0.0,11.2,8.4,WNW,35.0,NW,...,33.6,37.6,0,0.0,0,145.834,-31.4983,1,2009,6

In [14]:

working_df.head()

,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,...,Temp9am,Temp3pm,RainToday,RISK_MM,RainTomorrow,Longitude,Latitude,Month,Year,Day
5939,1/1/2009,Cobar,17.9,35.2,0.0,12.0,12.3,SSW,48.0,ENE,...,26.6,33.4,0,0.0,0,145.834,-31.4983,1,2009,1
5940,1/2/2009,Cobar,18.4,28.9,0.0,14.8,13.0,S,37.0,SSE,...,20.3,27.0,0,0.0,0,145.834,-31.4983,1,2009,2
5942,1/4/2009,Cobar,19.4,37.6,0.0,10.8,10.6,NNE,46.0,NNE,...,28.7,34.9,0,0.0,0,145.834,-31.4983,1,2009,4
5943,1/5/2009,Cobar,21.9,38.4,0.0,11.4,12.2,WNW,31.0,WNW,...,29.1,35.6,0,0.0,0,145.834,-31.4983,1,2009,5
5944,1/6/2009,Cobar,24.2,41.0,0.0,11.2,8.4,WNW,35.0,NW,...,33.6,37.6,0,0.0,0,145.834,-31.4983,1,2009,6

In [15]:
working_df1 = working_df.drop(['WindGustDir'], axis=1)
working_df1.head()

,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustSpeed,WindDir9am,WindDir3pm,...,Temp9am,Temp3pm,RainToday,RISK_MM,RainTomorrow,Longitude,Latitude,Month,Year,Day
5939,1/1/2009,Cobar,17.9,35.2,0.0,12.0,12.3,48.0,ENE,SW,...,26.6,33.4,0,0.0,0,145.834,-31.4983,1,2009,1
5940,1/2/2009,Cobar,18.4,28.9,0.0,14.8,13.0,37.0,SSE,SSE,...,20.3,27.0,0,0.0,0,145.834,-31.4983,1,2009,2
5942,1/4/2009,Cobar,19.4,37.6,0.0,10.8,10.6,46.0,NNE,NNW,...,28.7,34.9,0,0.0,0,145.834,-31.4983,1,2009,4
5943,1/5/2009,Cobar,21.9,38.4,0.0,11.4,12.2,31.0,WNW,WSW,...,29.1,35.6,0,0.0,0,145.834,-31.4983,1,2009,5
5944,1/6/2009,Cobar,24.2,41.0,0.0,11.2,8.4,35.0,NW,WNW,...,33.6,37.6,0,0.0,0,145.834,-31.4983,1,2009,6

In [16]:
working_df2 = working_df1.drop(['WindDir9am'], axis=1)

working_df2.head()

,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustSpeed,WindDir3pm,WindSpeed9am,...,Temp9am,Temp3pm,RainToday,RISK_MM,RainTomorrow,Longitude,Latitude,Month,Year,Day
5939,1/1/2009,Cobar,17.9,35.2,0.0,12.0,12.3,48.0,SW,6.0,...,26.6,33.4,0,0.0,0,145.834,-31.4983,1,2009,1
5940,1/2/2009,Cobar,18.4,28.9,0.0,14.8,13.0,37.0,SSE,19.0,...,20.3,27.0,0,0.0,0,145.834,-31.4983,1,2009,2
5942,1/4/2009,Cobar,19.4,37.6,0.0,10.8,10.6,46.0,NNW,30.0,...,28.7,34.9,0,0.0,0,145.834,-31.4983,1,2009,4
5943,1/5/2009,Cobar,21.9,38.4,0.0,11.4,12.2,31.0,WSW,6.0,...,29.1,35.6,0,0.0,0,145.834,-31.4983,1,2009,5
5944,1/6/2009,Cobar,24.2,41.0,0.0,11.2,8.4,35.0,WNW,17.0,...,33.6,37.6,0,0.0,0,145.834,-31.4983,1,2009,6

In [17]:
working_df3 = working_df2.drop(['WindDir3pm'], axis=1)

working_df3.head()

,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustSpeed,WindSpeed9am,WindSpeed3pm,...,Temp9am,Temp3pm,RainToday,RISK_MM,RainTomorrow,Longitude,Latitude,Month,Year,Day
5939,1/1/2009,Cobar,17.9,35.2,0.0,12.0,12.3,48.0,6.0,20.0,...,26.6,33.4,0,0.0,0,145.834,-31.4983,1,2009,1
5940,1/2/2009,Cobar,18.4,28.9,0.0,14.8,13.0,37.0,19.0,19.0,...,20.3,27.0,0,0.0,0,145.834,-31.4983,1,2009,2
5942,1/4/2009,Cobar,19.4,37.6,0.0,10.8,10.6,46.0,30.0,15.0,...,28.7,34.9,0,0.0,0,145.834,-31.4983,1,2009,4
5943,1/5/2009,Cobar,21.9,38.4,0.0,11.4,12.2,31.0,6.0,6.0,...,29.1,35.6,0,0.0,0,145.834,-31.4983,1,2009,5
5944,1/6/2009,Cobar,24.2,41.0,0.0,11.2,8.4,35.0,17.0,13.0,...,33.6,37.6,0,0.0,0,145.834,-31.4983,1,2009,6

In [54]:
working_df4 = working_df3.drop(['Date'], axis=1)
working_df4.head()

,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustSpeed,WindSpeed9am,WindSpeed3pm,Humidity9am,...,Temp9am,Temp3pm,RainToday,RISK_MM,RainTomorrow,Longitude,Latitude,Month,Year,Day
5939,Cobar,17.9,35.2,0.0,12.0,12.3,48.0,6.0,20.0,20.0,...,26.6,33.4,0,0.0,0,145.834,-31.4983,1,2009,1
5940,Cobar,18.4,28.9,0.0,14.8,13.0,37.0,19.0,19.0,30.0,...,20.3,27.0,0,0.0,0,145.834,-31.4983,1,2009,2
5942,Cobar,19.4,37.6,0.0,10.8,10.6,46.0,30.0,15.0,42.0,...,28.7,34.9,0,0.0,0,145.834,-31.4983,1,2009,4
5943,Cobar,21.9,38.4,0.0,11.4,12.2,31.0,6.0,6.0,37.0,...,29.1,35.6,0,0.0,0,145.834,-31.4983,1,2009,5
5944,Cobar,24.2,41.0,0.0,11.2,8.4,35.0,17.0,13.0,19.0,...,33.6,37.6,0,0.0,0,145.834,-31.4983,1,2009,6

In [55]:
working_df4.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 56420 entries, 5939 to 139112
Data columns (total 25 columns):
Location         56420 non-null object
MinTemp          56420 non-null float64
MaxTemp          56420 non-null float64
Rainfall         56420 non-null float64
Evaporation      56420 non-null float64
Sunshine         56420 non-null float64
WindGustSpeed    56420 non-null float64
WindSpeed9am     56420 non-null float64
WindSpeed3pm     56420 non-null float64
Humidity9am      56420 non-null float64
Humidity3pm      56420 non-null float64
Pressure9am      56420 non-null float64
Pressure3pm      56420 non-null float64
Cloud9am         56420 non-null float64
Cloud3pm         56420 non-null float64
Temp9am          56420 non-null float64
Temp3pm          56420 non-null float64
RainToday        56420 non-null int64
RISK_MM          56420 non-null float64
RainTomorrow     56420 non-null int64
Longitude        56420 non-null object
Latitude         56420 non-null object
Month            56420 non-null int64
Year             56420 non-null int64
Day              56420 non-null int64
dtypes: float64(17), int64(5), object(3)
memory usage: 13.7+ MB

In [56]:
rain_tomorrow = working_df4[['Longitude', 'Latitude', 'Month', 'Day','MinTemp', 'MaxTemp',  'Sunshine',
      'WindGustSpeed', 'WindSpeed9am', 'WindSpeed3pm', 'Humidity9am',
       'Humidity3pm', 'Pressure9am', 'Pressure3pm', 'Cloud9am', 'Cloud3pm',
       'Temp9am', 'Temp3pm', 'RainTomorrow']]
working_df4=working_df4[['Longitude', 'Latitude', 'Month', 'Day','MinTemp', 'MaxTemp', 'Sunshine',
      'WindGustSpeed', 'WindSpeed9am', 'WindSpeed3pm', 'Humidity9am',
       'Humidity3pm', 'Pressure9am', 'Pressure3pm', 'Cloud9am', 'Cloud3pm',
       'Temp9am', 'Temp3pm', 'RainToday']]
working_df4.head()

,Longitude,Latitude,Month,Day,MinTemp,MaxTemp,Sunshine,WindGustSpeed,WindSpeed9am,WindSpeed3pm,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday
5939,145.834,-31.4983,1,1,17.9,35.2,12.3,48.0,6.0,20.0,20.0,13.0,1006.3,1004.4,2.0,5.0,26.6,33.4,0
5940,145.834,-31.4983,1,2,18.4,28.9,13.0,37.0,19.0,19.0,30.0,8.0,1012.9,1012.1,1.0,1.0,20.3,27.0,0
5942,145.834,-31.4983,1,4,19.4,37.6,10.6,46.0,30.0,15.0,42.0,22.0,1012.3,1009.2,1.0,6.0,28.7,34.9,0
5943,145.834,-31.4983,1,5,21.9,38.4,12.2,31.0,6.0,6.0,37.0,22.0,1012.7,1009.1,1.0,5.0,29.1,35.6,0
5944,145.834,-31.4983,1,6,24.2,41.0,8.4,35.0,17.0,13.0,19.0,15.0,1010.7,1007.4,1.0,6.0,33.6,37.6,0

In [57]:
clean_df=working_df4
X = clean_df.drop("RainToday", axis=1)
y = clean_df["RainToday"]

In [58]:
clean_copy=clean_df

In [59]:
# Assign X (data) and y (target)

print(X.shape, y.shape)

(56420, 18) (56420,)

In [65]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1, stratify=y)

In [66]:
from sklearn.linear_model import LogisticRegression
classifier = LogisticRegression()
classifier

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='warn', n_jobs=None, penalty='l2',
                   random_state=None, solver='warn', tol=0.0001, verbose=0,
                   warm_start=False)

In [67]:
classifier.fit(X_train, y_train)
#X_train.head()

C:\Users\seanw\Anaconda333\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='warn', n_jobs=None, penalty='l2',
                   random_state=None, solver='warn', tol=0.0001, verbose=0,
                   warm_start=False)

In [64]:
print(f"Training Data Score: {classifier.score(X_train, y_train)}")
print(f"Testing Data Score: {classifier.score(X_test, y_test)}")

Training Data Score: 0.8327779747134586
Testing Data Score: 0.840552995391705

In [68]:
predictions = classifier.predict(X_test)
print(f"First 10 Predictions:   {predictions[:10]}")
print(f"First 10 Actual labels: {y_test[:10].tolist()}")

First 10 Predictions:   [0 0 0 0 0 1 0 1 1 0]
First 10 Actual labels: [0, 0, 0, 1, 0, 1, 0, 1, 1, 0]

In [69]:
results = pd.DataFrame({"Prediction": predictions, "Actual": y_test}).reset_index(drop=True)
results.tail(75)

       Prediction  Actual
14030           0       0
14031           0       0
14032           0       0
14033           1       0
14034           0       0
...           ...     ...
14100           1       1
14101           0       0
14102           0       0
14103           0       0
14104           0       0

[75 rows x 2 columns]

In [70]:
clean_df= rain_tomorrow
X = clean_df.drop("RainTomorrow", axis=1)
y = clean_df["RainTomorrow"]

In [71]:
clean_copy=clean_df

In [72]:
# Assign X (data) and y (target)

print(X.shape, y.shape)

(56420, 18) (56420,)

In [73]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1, stratify=y)

In [74]:
from sklearn.linear_model import LogisticRegression
classifier = LogisticRegression()
classifier

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='warn', n_jobs=None, penalty='l2',
                   random_state=None, solver='warn', tol=0.0001, verbose=0,
                   warm_start=False)

In [75]:
classifier.fit(X_train, y_train)
#X_train.head()

C:\Users\seanw\Anaconda333\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='warn', n_jobs=None, penalty='l2',
                   random_state=None, solver='warn', tol=0.0001, verbose=0,
                   warm_start=False)

In [76]:
print(f"Training Data Score: {classifier.score(X_train, y_train)}")
print(f"Testing Data Score: {classifier.score(X_test, y_test)}")

Training Data Score: 0.8536216471700343
Testing Data Score: 0.8483516483516483

In [77]:
predictions = classifier.predict(X_test)
print(f"First 10 Predictions:   {predictions[:10]}")
print(f"First 10 Actual labels: {y_test[:10].tolist()}")

First 10 Predictions:   [0 0 0 1 0 1 1 1 1 0]
First 10 Actual labels: [0, 0, 0, 1, 0, 1, 0, 1, 1, 0]

In [78]:
results = pd.DataFrame({"Prediction": predictions, "Actual": y_test}).reset_index(drop=True)
results.tail(50)

       Prediction  Actual
14055           0       0
14056           0       0
14057           0       0
14058           0       0
14059           1       1
14060           1       1
14061           0       0
14062           0       0
14063           0       0
14064           0       0
14065           0       0
14066           0       1
14067           0       0
14068           0       0
14069           0       0
14070           0       0
14071           0       0
14072           0       0
14073           0       0
14074           0       0
14075           0       0
14076           0       0
14077           0       0
14078           0       0
14079           0       0
14080           0       0
14081           0       0
14082           0       0
14083           0       0
14084           0       0
14085           0       0
14086           0       0
14087           0       0
14088           0       0
14089           0       0
14090           1       1
14091           0       0
14092           0       0
14093           0       0
14094           0       0
14095           0       0
14096           1       1
14097           0       0
14098           0       0
14099           0       0
14100           1       1
14101           0       0
14102           0       0
14103           0       0
14104           0       0